<section class="poster" id="contacts-poster">
    <p>Ульяновский государственный технический университет</p>
</section>

<div id="content">
    <section class="wrapper">
        <article>
            <hgroup class="title">
                <h1>Контактная информация</h1>
            </hgroup>

            <section class="contact">
                <header>
                    <h3>Телефон</h3>
                </header>
                <p>
                    <span>Рабочий:</span>
                    <span>8-800-555-35-55</span>
                </p>
            </section>

            <section class="contact">
                <header>
                    <h3>Email</h3>
                </header>
                <p>
                    <span>Email:</span>
                    <span><a href="mailto:chalk@mail.ru">chalk@mail.ru</a></span>
                </p>
            </section>

            <section class="contact">
                <header>
                    <h3>Адрес</h3>
                </header>
                <p>
                    One Microsoft Way<br />
                    Redmond, WA 98052-6399
                </p>
            </section>
        </article>
    </section>
</div>