@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="poster">
    <div>Сайт преподавателя Новосельцевой Надежды Николаевны</div>
</section>


<div id="blog">
    <section id="news">
        <article>
            <img src="~/Images/news_sample.png" />
            <h1>Title Of Message</h1>
            <p>Description of Message</p>
        </article>
        <article>
            <img src="~/Images/news_sample.png" />
            <h1>Title Of Message</h1>
            <p>Description of Message</p>
        </article>
        <article>
            <img src="~/Images/news_sample.png" />
            <h1>Title Of Message</h1>
            <p>Description of Message</p>
        </article>
    </section>
</div>
