@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="main-poster" class="poster">
    <p>Сайт преподавателя Новосельцевой Надежды Николаевны</p>
</section>


<div id="content">
    <section class="wrapper" id="news">
        <article>
            <img src="~/Images/news_sample.png" />
            <h1>Title Of Message</h1>
            <p>Description of Message</p>
        </article>
        <article>
            <img src="~/Images/news_sample.png" />
            <h1>Title Of Message</h1>
            <p>Description of Message</p>
        </article>
        <article>
            <img src="~/Images/news_sample.png" />
            <h1>Title Of Message</h1>
            <p>Description of Message</p>
        </article>
    </section>
</div>
